{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
    <h3>Modification {{ block("title") }}</h3>
    <a href="{{ path('app_user_index') }}" class="btn">Retour</a>
</div>
    <div class="container">
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}
